modules = ["javascript", "nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["qgit", "killall"]

[userenv]

[userenv.shared]
JWT_SECRET = "dynasties-dev-jwt-secret-32chars-minimum-length-ok"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c3RyaWtpbmctbWF5Zmx5LTMzLmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_SECRET_KEY = "sk_test_KsSJJ7nKUvfxo5Msxz1TGmoER1y1bicixWqydysOUZ"
ANTHROPIC_API_KEY = ""
DEMO_CLERK_EMAILS = "glennorgin@gmail.com"
VITE_DEMO_MODE = "true"
